.footer {
	background: rgba(234, 234, 234, 1);
}
.footer > p {
	text-align: center;
	padding: 15px;
	font-size: 13px;
}

.footer > div {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.footer > div > iframe {
	margin:30px;
}

.footer > div > .footer--contact-us {width: 31%;}

.footer >div >  .footer--contact-us > a {

}

.footer >div >  .footer--contact-us > a > img {
	width: 70%;
	max-width: 500px
}


.footer > div > .footer--contact-us > div {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

.footer > div > .footer--contact-us > div > a {
	margin: 0 30px;
	color: black;
}

.footer > div > .footer--contact-us > div > a:hover {
	margin: 0 30px;
	color: black;
	cursor: pointer;
}

.footer > div > .footer--contact-us > div > a > svg {
	font-size: 2em;
}
