.theme {
	margin: 0 auto;
	max-width: 900px;
	width: 80%;
	padding: 30px;
}

.theme > h2 {
	text-align: center;
}

.theme > h2 > span {
	font-family: 'Architects Daughter', cursive;
	color: rgb(90, 152, 250);
	font-size: 50px;
}

.theme > p {
	margin-top: 15px;
	font-weight: 300;
	font-size: 30px; text-align: center;
}
