* {
	margin: 0;
	padding: 0;
}

section {
	padding: 30px;
}

/* Results section */

.results > p {
	max-width: 1200px;
	margin: 0 auto;
	padding-bottom: 10px;
	text-align: left;
}

.printathon-logo {
	padding: 60px 0px;
	margin: 60px 0px;
	background: url('../../images/Printathon-Text-Separator.png') no-repeat center center;
	background-size: cover;
	overflow: hidden;
	text-align: center;
}

/* Theme */
.theme {
	max-width: 1200px;
	margin: 0 auto;
}

.theme > p {
	text-align: left;
}

.theme > h2 {
	padding-bottom: 5px;
}

/* Teams and Prizes */

#in-a-can{
	font-size: 1.5em;
}

.teams-and-prizes {
	max-width: 1000px;
	margin: 0 auto;
}

.teams-and-prizes > h2 {
	margin-bottom: 5px;
}

.teams-and-prizes > div {
	display: flex;
	flex-wrap: wrap;
}

.teams-and-prizes > div > div {
	margin: 30px auto;
	width: 29%;
	padding: 0 20px 20px 20px;
	border: 1px solid #e2e2e2;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.teams-and-prizes > div > div > h2, p {
	text-align: center;

}

.teams-and-prizes > div > div > p {
	width: calc(100% + 40px);
	border-top: 1px solid #e2e2e2;
	padding: 20px;
}

.teams-and-prizes > div > div > h2 {
	align-self: flex-start;
	padding: 20px 0;
	font-weight: bold;
}

.teams-and-prizes > div > div > .prize {
	width: calc(100% + 40px);
	border-bottom: 1px solid #e2e2e2;
}


.teams-and-prizes > div > div > img {
	width: calc(100% + 40px);
	border-radius: 5px 0 0 0;

}

/* Events */
.events {
	max-width: 1200px;
	margin: 0 auto;
}

.events > h2 {
	margin-bottom: 5px;
}

.events > ul > li:before {
	content: '\2022\ ';
	padding-left: 30px;
}

.judges {
	max-width: 1200px;
	margin: 0 auto;
}

.judges > h2 {
	margin-bottom: 5px;
}

.judges > ul > li:before {
	content: '\2022\ ';
	padding-left: 30px;
}
