* {
	margin: 0;
	padding: 0;
}

section {
	padding: 30px;
}


/* Results section */

.results > p {
	max-width: 1200px;
	margin: 0 auto;
	padding-bottom: 10px;
	text-align: left;
}

.printathon-logo {
	padding: 60px 0px;
	margin: 60px 0px;
	background: url('../../images/Printathon-Text-Separator.png') no-repeat center center;
	background-size: cover;
	overflow: hidden;
	text-align: center;
}

/* Theme */
.theme {
	max-width: 1200px;
	margin: 0 auto;
}

.theme > p {
	text-align: left;
}

@font-face {
    font-family: 'fabfeltscriptbold';
    src: url('../fonts/fabfeltscript-bold.eot');
		src: url('../fonts/fabfeltscript-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fabfeltscript-bold.woff2') format('woff2'),
         url('../fonts/fabfeltscript-bold.woff') format('woff'),
         url('../fonts/fabfeltscript-bold.ttf') format('truetype'),
         url('../fonts/fabfeltscript-bold.svg#fabfeltscriptbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

.float > .judges {
	float: right;
}

.float > .theme {
	float: left;
}

@media all and (max-width: 900px) {
	.float > .judges {
		float: none;
		width: 100%;
	}

	.float > .theme {
		float: none;
		width: 100%;
	}
}

.judges-and-theme {
	max-width: 1200px;
	margin: 0 auto;
	clear: both;
}

.judges {
	width: 50%;
	margin: 0 auto;
}

.judges > ul > li > span {
}

.judges > h2 {
	margin-bottom: 5px;
	text-align: center;
}

#jank {
	pointer-events: none;
	color: white;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

.judges > ul > li {
	list-style: circle;
	content: '\2022\ ';
	margin-left: 30px;
}

.theme {
	width: 50%;
}

.theme > h2 {
	padding-bottom: 5px;
	text-align: center;

}

.theme > p {
	text-align: justify;
}

#theme-fancy {
	font-family: "fabfeltscriptbold";
	white-space: nowrap;
	font-weight: normal;
	color: rgb(255, 51, 51);
}

/* Teams and Prizes */

#in-a-can{
	font-size: 1.5em;
}

.teams-and-prizes {
	max-width: 1200px;
	margin: 0 auto;
	clear: both;
}

.teams-and-prizes > h2 {
	margin-bottom: 5px;
}

.teams-and-prizes > div {
	display: flex;
	flex-wrap: wrap;
}

.teams-and-prizes > div > div {
	margin: 30px auto;
	width: 29%;
	padding: 0 20px 20px 20px;
	border: 1px solid #e2e2e2;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media all and (max-width: 1050px) {
	.teams-and-prizes > div > div {
		width: 40%;
	}
}

@media all and (max-width: 650px) {
	.teams-and-prizes > div > div {
		width: 100%;
	}
}

.teams-and-prizes > div > div > h2, p {
	text-align: center;

}

.teams-and-prizes > div > div > p {
	width: calc(100% + 40px);
	border-top: 1px solid #e2e2e2;
	padding: 20px;
}

.teams-and-prizes > div > div > h2 {
	align-self: flex-start;
	padding-top: 20px;
	font-weight: bold;
}

.teams-and-prizes > div > div > .description {
	border: none;
	text-align: left;
}

.teams-and-prizes > div > div > .prize {
	width: calc(100% + 40px);
	border-bottom: 1px solid #e2e2e2;
}


.teams-and-prizes > div > div > img {
	width: calc(100% + 40px);
	border-radius: 5px 0 0 0;

}

/* Events */
.events {
	max-width: 1200px;
	margin: 0 auto;
}

.events > h2 {
	margin-bottom: 5px;
}

.events > ul > li:before {
	content: '\2022\ ';
	padding-left: 30px;
}
